.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fde2e4;
  color: #620042;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.birthday-title {
  margin: 20px 0;
  font-size: 36px;
  color: #333;
  text-shadow: 2px 2px 4px #ffb6b9;
}

.music-button {
  background-color: #620042;
  color: #ffffff;
  margin: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.music-button:hover {
  background-color: #810058;
}

.year-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.year-button:hover {
  transform: scale(1.1);
  background-color: #e65c54;
}

.decorative-image {
  position: absolute;
  width: 100px;
  top: 10%;
  left: 10%;
  opacity: 0.9;
}

.homepage-slideshow {
  max-width: 300px; /* Set a maximum width for the images */
  max-height: 200px; /* Set a maximum height for the images */
  width: auto; /* Allow the width to adjust based on the aspect ratio */
  height: auto; /* Allow the height to adjust based on the aspect ratio */
  margin: 20px auto;
  border-radius: 10px;
}


@media (min-width: 768px) {
  .birthday-title {
    font-size: 48px;
  }

  .music-button, .year-button {
    padding: 15px 25px;
    font-size: 20px;
  }

  .decorative-image {
    width: 150px;
  }
}
