.year-page-container {
  text-align: center;
  padding: 20px;
}

.year-title {
  font-size: 36px;
  color: #333;
  margin: 20px 0;
}

.memory-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 20px;
  padding: 20px;
}

.memory-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent; /* Set background to transparent */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: auto; /* Adjust height based on content */
  border: none; /* No border for the media items */
}

.memory-image, .memory-video {
  max-width: 100%; /* Maximum width is 100% of the container */
  max-height: 100%; /* Maximum height is 100% of the container */
  object-fit: contain; /* Ensures content fits without cropping */
}

@media (max-width: 1024px) {
  .memory-content {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row for medium screens */
  }
}

@media (max-width: 600px) {
  .memory-content {
    grid-template-columns: 1fr; /* 1 item per row for small screens */
  }

  .memory-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .year-title {
    font-size: 28px; /* Smaller font size for smaller screens */
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no-pics-message {
  font-size: 24px;
  color: #ff6f61;
  animation: spin 5s linear infinite;
}
